---
layout: default
title: 100 Days of Code
---
<h3>{{ page.title }}</h3>
<ul class="posts">

  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="/100daysofcode{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
----------------------------------------

<ul class="posts">
  {% for post in site.posts %}
      {% unless post.next %}
          <h4>{{ post.date | date: '%Y' }}</h4>
      {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
          {% if forloop.index != 1 %}</ul>{% endif %}
              <h4>{{ post.date | date: '%Y' }}</h4>
          {% endif %}
      {% endunless %}

  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
  {% if month != nmonth %}
  {% if forloop.index != 1 %}</ul>{% endif %}
      <h4>{{ post.date | date: '%B %Y' }}</h4><ul>
  {% endif %}
  <li><span>{{ post.date | date_to_string }}</span> » <a href="/100daysofcode{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>