<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="title row">
				<div class="col-md-8">
				  <h1>Mike Nolan</h1>
				  <small>To improve is to change; to be perfect is to change often. -Winston Churchill</small>
				</div>
				<nav class="navbar navbar-inverse col-md-4">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				  </ul>
				</nav>
			  </div>
			  <hr />
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mikechristopher@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mikechristopher">github.com/mikechristopher</a></li>
				</ul>
			</footer>
		</body>
	</html>