<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div class="page">
		<div class="container">
			<div class="title row">
				<div class="col-md-7">
					<h1>Mike Nolan</h1>
					<small>To improve is to change; to be perfect is to change often. -Winston Churchill</small>
				</div>
				<nav class="navbar navbar-inverse col-md-5">
					<ul class="nav navbar-nav">
						<li><a href="https://mikechristopher.github.io/">Home</a></li>
						<li><a href="https://mikechristopher.github.io/#about">About</a></li>
						<li><a href="https://mikechristopher.github.io/#portfolio">Portfolio</a></li>
						<li class="active"><a href="https://mikechristopher.github.io/100daysofcode/">100 Days of
								Code</a></li>
						<li><a href="https://mikechristopher.github.io/#contact">Contact</a></li>
					</ul>
				</nav>
			</div>
			<hr />
			<div class="post-roll">
				{{ content }}
			</div>
			<hr />
			<div class="anchor">
				<a name="contact"></a>
			</div>
			<div class="text-center">
				<ul class="social-icons icon-circle list-inline">
					<a href="mailto:">
						<li><i class="fa fa-envelope-o"></i></li>
					</a>
					<a href="https://twitter.com/mikechristopher">
						<li><i class="fa fa-twitter"></i></li>
					</a>
					<a href="https://www.linkedin.com/in/mikecnolan">
						<li><i class="fa fa-linkedin"></i></li>
					</a>
					<a href="https://github.com/mikechristopher">
						<li><i class="fa fa-github"></i></li>
					</a>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>