---
layout: default
---
<a href="https://mikechristopher.github.io/100daysofcode/" alt="Back to main post listing">
  <h3 class="post-title">{{ page.title }}</h3>
</a>
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="sep"></div>
<div class="post">
  {{ content }}
</div>
<div class="sig">Mike</div>
<div></div>
<div class="PageNavigation">
  {% if page.previous.url %}
  <a class="prev" href="/100daysofcode{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
  <a class="next" href="/100daysofcode{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>